*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 , 0 , 0 , 0.5);
    position:sticky ;
    top: 0px;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px ;

}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease  ;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 22px white;
}
/* home section */
#home{
 
    display: flex;
    flex-direction: column;  
    background-color: rgb(0 , 0 , 0 , 0.5); 
    height: 623px; 
    justify-content: center;
    align-items: center;
    color:white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('1611210138050 (1)-removebg.jpg') no-repeat center center/cover;
    height:685px ;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 39%;
    right: 9%;
}
.hedding{
font-family: century;
font-size: 3rem;
text-align: center;
margin: 39px 0px;
}
.btn{
    padding: 11px 35px;
    background-color:transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: 0.6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px white, 0px 0px 10px white,0px 0px 15px white;
    font-weight: bold;
}
/* about section */
#about{
 
    display: flex;
    flex-direction: column; 
    padding: 20px;
    margin-bottom: 51px; 
    
}
#pic{
    display: flex;

}
#pic img{
    height: 425px;
    width: 533px;
    border-radius: 55px;
    
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 11px;
}
#intro h1{
    font-size: 2rem;
    margin-bottom: 22px;
}
/* protfolio section */
#protfolio{
 
    display: flex;
    flex-direction: column; 
    background-color: rgb(0 , 0 , 0 , 0.5);
    align-items: center;
    padding: 20px;
    
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.gallery img{
    height: 255px;
    width: 333px;
    margin: 10px;   
}
#service{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 311px;
    height: 411px;
    border: 2px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, pink 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: black;
    border:none;
    box-shadow:  0px 0px 20px;
}
.box img{
    width: 78px;
    height: 79px;
    border-radius: 39px;
    padding: 0px;
}
/* contact section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(0 , 0 , 0 , 0.5);
    color: white;
    padding: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 10px 0px;
    
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
    margin-left: 35%;
    border-radius: 10px;
}
#msg{
    width: 25%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
    margin-left: 37%;
    border-radius: 10px;
}
#send{
    width: 11%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
   margin-left: 44%;
   border-radius: 10px;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px white;
}
@media screen and (max-width: 1000px){
    .formwraper{
        width: 70%;
    }
    }
    @media screen and (max-width: 600px){
        .fromdiv{
            width: 90%;
            border-radius: 10px 10px 10px 10px;
        }
        .welcomediv{
            display: none;
        }
        }


